---
import BaseLayout from './BaseLayout.astro';
import '../styles/layer2.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="depths">
    <slot />
  </div>
</BaseLayout>
